<div class="container">
    <form [formGroup]="postForm" class="form" (ngSubmit)="submitPost()">
        <h2 class="form-title">Create a Post</h2>
        <div class="form-group-title">
            <input (click)="toggleForm()"  type="text" placeholder="Title" formControlName="title" class="form-control-title">
        </div>
        <div class="form-group" [ngClass]="{'show': showForm, 'hide': !showForm}">
            <textarea rows="3" cols="30" placeholder="Content" formControlName="content" class="form-control"></textarea>
        </div>
        <div class="form-group" [ngClass]="{'show': showForm, 'hide': !showForm}">
            <select formControlName="category" class="form-control">
                <option disabled value="">Select a category</option>
                <option *ngFor="let category of categories" [value]="category.description">{{category.description}}</option>
            </select>
        </div>
        <div class="image-submit" [ngClass]="{'show': showForm, 'hide': !showForm}">
            <input type="file" (change)="onFileSelected($event)" accept="image/*">
            <button [disabled]="postForm.invalid" type="submit" class="submit-button">Submit</button>
        </div>
    </form>
</div>