<div class="container">
  <nav [ngClass]="(isSideBarOpen) ? 'filters' : 'filters-closed'">
    <label class="toggler" (click)="isSideBarOpen = !isSideBarOpen">Filters</label>
    <div *ngIf="isSideBarOpen" class="filter-options">

      <div class="filter-item">
        <label (click)="setShowingPosts()" style="cursor: pointer;">See all Posts</label>
      </div>

      <div class="filter-item">
        <label for="category">Category</label>
        <select (change)="filterByCategory($event)" id="category">
          <option value="All">All</option>
          <option [value]="category.description" *ngFor="let category of categories">{{category.description}}</option>
        </select>
      </div>

      <div style="justify-content: center;" class="filter-item">
        <form [formGroup]="dateRangeForm" (ngSubmit)="filterBetweenDates()">
          <label for="start-date">Start Date</label>
          <input formControlName="startDate" id="start-date" formCon type="date">
          <label for="end-date">End Date</label>
          <input id="end-date" formControlName="endDate" type="date">
          <button type="submit" [disabled]="dateRangeForm.invalid">Search</button> 
        </form>
        
      </div>
    </div>
  </nav>

  <div *ngIf="allPosts" class="posts">
    <table class="post-table">
      <tr class="top-row">
        <td (click)="sortByTitle()" class="top-row-column">Title</td>
        <td (click)="sortByCreator()" class="top-row-column">Posted by</td>
        <td (click)="sortByDate()" class="top-row-column">Posted at</td>
        <td (click)="sortByCategory()" class="top-row-column">Category</td>
        <td (click)="sortByStatus()" *ngIf="user !== null && user.role === 'Moderator'" class="top-row-column">Status</td>
      </tr>

      <tr *ngFor="let post of showingPosts" class="post-row">
        <td routerLink="/post" [queryParams]="{id : post.id}" class="post-title">{{post.title}}</td>
        <td [routerLink]="['/profile', post.createdBy]" class="post-creator">{{post.createdBy}}</td>
        <td class="post-column">{{post.createdAt | date: 'EEEE, d MMMM, y, h:mm:ss a'}}</td>
        <td class="post-column">{{post.category}}</td>
        <td *ngIf="user !== null && user.role === 'Moderator'" class="post-column">{{post.status ? 'Active' : 'Inactive'}}</td>
      </tr>
    </table>
  </div>
</div>