<div class="container">
  <div *ngIf="isLoading">Loading...</div>
  <div *ngIf="errorMessage">{{ errorMessage }}</div>

  <div *ngIf="evento" class="event-detail-card">
    <h2>{{ evento.description }}</h2>
    <p><strong>Location:</strong> {{ evento.location }}</p>
    <p><strong>Date:</strong> {{ evento.date | date: 'dd/MM/yyyy HH:mm a' }}</p>
    <p [class]="(evento.status == 0) ? 'Open' : (evento.status) == 1 ? 'Closed' : 'Canceled'" ><strong>Status:</strong> {{(evento.status == 0) ? 'Open' : (evento.status) == 1 ? 'Closed' : 'Canceled' }}</p>
    <p><img *ngIf="evento.image" [src]="'http://localhost:5000/' + evento.image" alt="Event Image" class="event-image"></p>
    <!-- Botão para mostrar/esconder o componente de comentário -->
    <div class="buttons">
      <button *ngIf="user !== null" (click)="toggleMakingAComment()">
        {{ makingAComment ? 'Stop commenting' : 'Comment event' }}
      </button>
      <button *ngIf="evento.status == 0 && user !== null" (click)="toggleAttendEvent()" [disabled]="isLoading" 
        [ngClass]="{'attending': isAttending, 'not-attending': !isAttending}">
        {{ isAttending ? 'Unattend' : 'Attend' }}
      </button>
      <button routerLink="/listEvents">Back to List</button>
    
      <!-- 🔹 Botão de atualizar estado agora está ao lado dos outros -->
      <div class="status-button-container">
        <button (click)="toggleStatusMenu()" class="status-btn">Atualizar Estado</button>
    
        <!-- 🔹 Menu de opções (Dropdown) -->
        <div *ngIf="isStatusMenuOpen" class="status-dropdown">
          <p *ngFor="let status of statuses" (click)="updateStatus(status)" class="dropdown-item">
            {{ status }}
          </p>
        </div>
      </div>
    </div>
    <!-- Componente para fazer comentário (aparece apenas quando makingAComment for true) -->
    <app-make-comment *ngIf="makingAComment" [id]="evento.id" [type]="'event'"></app-make-comment>
    


    
  </div>
  <!-- Listagem de comentários -->
  <div *ngIf="evento!.comments && evento!.comments.length > 0">
    <div *ngFor="let comment of evento!.comments" class="comments">
      <app-comment-details [comment]="comment"></app-comment-details>
    </div>
  </div>
</div>
