<div *ngIf="isLoading">A carregar...</div>
<div *ngIf="errorMessage">{{ errorMessage }}</div>

<div *ngIf="evento" class="event-detail-card">
  <h2>{{ evento.description }}</h2>
  <p><strong>Local:</strong> {{ evento.location }}</p>
  <p><strong>Data:</strong> {{ evento.date | date: 'dd/MM/yyyy HH:mm' }}</p>
  <p><strong>Status:</strong> {{ evento.status }}</p>
  <p><img *ngIf="evento.image" [src]="'http://localhost:5000/' + evento.image" alt="Event Image" class="event-image"></p>
  <!-- Botão para mostrar/esconder o componente de comentário -->
  <button (click)="toggleMakingAComment()">
    {{ makingAComment ? 'Cancelar Comentário' : 'Comentar Evento' }}
  </button>

  <!-- Componente para fazer comentário (aparece apenas quando makingAComment for true) -->
  <app-make-comment *ngIf="makingAComment" [id]="evento.id" [type]="'event'"></app-make-comment>
  <button routerLink="listEvents">Voltar à lista</button>

  <!-- Listagem de comentários -->
  <div *ngIf="evento.comments && evento.comments.length > 0">
    <h3>Comentários</h3>
    <div *ngFor="let comment of evento.comments">
      <app-comment-details [comment]="comment"></app-comment-details>
    </div>
  </div>
  
  <!-- Mensagem caso não haja comentários -->
  <div *ngIf="evento.comments?.length === 0">
    <p>Sem comentários ainda.</p>
  </div>
</div>
