<div class="container">
  <div *ngIf="isLoading">A carregar...</div>
  <div *ngIf="errorMessage">{{ errorMessage }}</div>

  <div *ngIf="evento" class="event-detail-card">
    <h2>{{ evento.description }}</h2>
    <p><strong>Local:</strong> {{ evento.location }}</p>
    <p><strong>Data:</strong> {{ evento.date | date: 'dd/MM/yyyy HH:mm a' }}</p>
    <p [class]="(evento.status == 0) ? 'Open' : (evento.status) == 1 ? 'Closed' : 'Canceled'" ><strong>Status:</strong> {{(evento.status == 0) ? 'Aberto' : (evento.status) == 1 ? 'Fechado' : 'Cancelado' }}</p>
    <p><img *ngIf="evento.image" [src]="'http://localhost:5000/' + evento.image" alt="Event Image" class="event-image"></p>
    <!-- Botão para mostrar/esconder o componente de comentário -->
    <div class="buttons">
      <button *ngIf="user !== null" (click)="toggleMakingAComment()">
        {{ makingAComment ? 'Cancelar Comentário' : 'Comentar Evento' }}
      </button>
      <button *ngIf="evento.status==0 && user !== null" (click)="toggleAttendEvent()" [disabled]="isLoading" 
        [ngClass]="{'attending': isAttending, 'not-attending': !isAttending}">
  {{ isAttending ? 'Desistir' : 'Participar' }}
      </button>
      <button routerLink="/listEvents">Voltar à lista</button>
    </div>
    <!-- Componente para fazer comentário (aparece apenas quando makingAComment for true) -->
    <app-make-comment *ngIf="makingAComment" [id]="evento.id" [type]="'event'"></app-make-comment>
    

    
  </div>
  <!-- Listagem de comentários -->
  <div *ngIf="evento!.comments && evento!.comments.length > 0">
    <div *ngFor="let comment of evento!.comments" class="comments">
      <app-comment-details [comment]="comment"></app-comment-details>
    </div>
  </div>
</div>
