/* Estiliza o container principal */
.event-detail-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: 1px solid black;
    min-width: 350px;
    max-height: fit-content;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    background: linear-gradient(45deg, rgb(217, 218, 196), rgb(212, 214, 164));
}

.container {
    display: flex;
    flex-direction: column;
    width: max-content;
    justify-content: flex-start;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}

/* Título do evento */
.event-detail-card h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

/* Informação geral */
.event-detail-card p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    margin: 8px 0;
}

/* Labels em negrito */
.event-detail-card p strong {
    color: #222;
}

/* Estilo do status do evento */
.event-status {
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

/* Cores diferentes para cada status */
.Open {
    background-color: #d4edda;
    color: #155724;
    width: max-content;
    padding: 5px;
    border-radius: 5px;
}

.Closed {
    background-color: #f8d7da;
    color: #721c24;
    width: max-content;
    padding: 5px;
    border-radius: 5px;
}

.Canceled {
    background-color: #ffeeba;
    color: #856404;
    width: max-content;
    padding: 5px;
    border-radius: 5px;
}

/* Botão de voltar */
.event-detail-card button {
    background: none;
    border-radius: 20px;
    border: 1px solid #8CC592;
    padding: 10px;
    color: gray;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;  
}

.event-detail-card button:hover {
    background-color: #8CC592;
}

.event-detail-card button:active {
    padding: 9.5px;
}

.comments {
    margin-left: 30px;
    position: relative;
}

.comments::before {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0px;
    width: 2px;
    background-color: gray;
}

.status-button-container {
    position: relative;
    display: inline-block;
  }
  
  .status-btn {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .status-btn:hover {
    background-color: #0056b3;
  }
  
  /* Dropdown para seleção de status */
  .status-dropdown {
    position: absolute;
    top: 100%; /* Faz o menu aparecer abaixo do botão */
    left: 0;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 150px;
    padding: 5px;
    z-index: 10;
  }
  
  .dropdown-item {
    padding: 10px;
    cursor: pointer;
    text-align: left;
  }
  
  .dropdown-item:hover {
    background-color: #f0f0f0;
  }
  