<div class="greenitors-container">
    <h2>Greenitors</h2>
  
    <div class="grid">
      <div *ngFor="let user of greenitors" class="container">
        <div class="card">
          
          <!-- Front Side -->
          <div class="front">
            <img [src]="'http://localhost:5000/' + user.image" alt="User Avatar" class="user-avatar">
            <p class="front-heading">{{ user.username }}</p>
            <p class="user-details">Click to view details</p>
          </div>
  
          <!-- Back Side -->
          <div class="back">
            <p class="back-heading">{{ user.email }}</p>
            <p [routerLink]="['/profile', user.username]">{{ user.username}} Interactions</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  