<div class="container">
  <nav class="searchBar">
    <p (click)="goHome()">Green'it</p>
    <form (submit)="searchPosts()">
      <input type="search" [(ngModel)]="query" name="query" placeholder="Search">
    </form>    
  </nav>
  <nav [ngClass]="(isSideBarOpen | async) ? 'navbar' : 'navbar-closed'">
    <div>
      <img class="menu-icon" src="../assets/menu-icon2.png" (click)="isSideBarOpen.next(!isSideBarOpen.value)">
      <div *ngIf="isSideBarOpen | async" class="main-buttons">
        <img (click)="goHome()" class="logo" src="./assets/Logo6.jpg" alt="Logo">
        <app-notifications class="notifications"></app-notifications>
        <label class="button" routerLink="/login">Login</label>
        <label class="button" routerLink="/register">Register</label>
      </div>
    </div>
    <div *ngIf="isSideBarOpen | async" class="main-buttons">
      <label (click)="logout()" class="button">Logout</label>
    </div>
  </nav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>