<div class="container">
  <nav (click)="isSideBarOpen = !isSideBarOpen" [ngClass]="(isSideBarOpen) ? 'navbar' : 'navbar-closed'">
    <div *ngIf="isSideBarOpen" class="main-buttons">
      <img routerLink="/" class="logo" src="./assets/Logo6.jpg" alt="Logo">
      <label class="button">Login</label>
      <label class="button">Register</label>
    </div>
    <div *ngIf="isSideBarOpen" class="main-buttons">
      <label class="button">Logout</label>
    </div>
  </nav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>