.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(170, 202, 172, 0.711);
    min-height: 90vh;
    width: 180vh;
    border-radius: 10px;
}

.post-listing {
    width: max-content;
}

.make-post {
    margin: 10px;
}

.trends {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 10px;
}