<div *ngIf="post" class="container">
    <div class="post">
        <div class="create-content">
            <p [routerLink]="['/profile', post.createdBy]"><i>{{post.createdBy}} on {{post.createdAt | date: 'EEEE, d MMMM, y, h:mm:ss'}}</i></p>
        </div>
        <div class="title-content">
            <h1>{{post.title}}</h1>
            <p><img style="height: 300px;" *ngIf="post.image" [src]="'http://localhost:5000/' + post.image" alt="Event Image" class="event-image"></p>
            <p>{{post.content}}</p>
        </div>
        <div class="buttons">
            <app-like-dislike class="like-dislike" [postId]="post.id"></app-like-dislike>
            <app-favorite-button class="favorite-button" [postId]="post.id"></app-favorite-button>
        </div>
        <div class="comment-section">
            <button *ngIf="!makingAComment" (click)="toggleMakingAComment()" class="comment-btn">Comment on this post</button>
            <button *ngIf="makingAComment" (click)="toggleMakingAComment()" class="comment-btn">Stop commenting on this post</button>
            <app-make-comment *ngIf="makingAComment" [id]="post.id" [type]="'post'"></app-make-comment>
        </div>
    </div>
    <div *ngFor="let comment of post!.comments; track comment" class="comments">
        <app-comment-details [comment]="comment"></app-comment-details>
    </div>
</div>