.comments {
    margin-left: 30px;
    position: relative;
}

.comments::before {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0px;
    width: 2px;
    background-color: gray;
}

.post {
    background: linear-gradient(45deg, rgb(217, 218, 196), rgb(212, 214, 164));
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.comment-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(170, 202, 172, 0.711);
    max-width: 174.5vh;
    min-height: 80vh;
    overflow-x: auto;
    padding: 20px;
    border-radius: 8px;
}

.comment-btn {
    background: none;
    border-radius: 20px;
    border: 1px solid #8CC592;
    padding: 10px;
    color: gray;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.comment-btn:hover {
    background-color: #8CC592;
}

.comment-btn:active {
    padding: 9.5px;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.like-dislike {
    margin-left: -30px;
}

.title-content p {
    font-size: 20px;
}

.create-content {
    font-size: 15px;
    font-style: italic;
}

.favorite-button {
    border: 0.5px solid #8CC592;
    padding: 7px;
    border-radius: 20px;
    width: 50px;
    height: fit-content;
    display: flex;
    margin-left: -15px;
    justify-content: center;
    cursor: pointer;
}

.favorite-button:hover {
    background-color: #8CC592;
}

.favorite-button:active {
    padding: 6.5px;
}