.comments {
    margin-left: 30px;
    position: relative;
}

.comments::before {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0px;
    width: 2px;
    background-color: gray;
}

.post {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(193, 207, 219, 0.871);
    max-width: max-content;
    overflow-x: auto;
    padding: 20px;
    border-radius: 8px;
}